.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 10000;
  backdrop-filter: blur(15px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.loading-modal-heading {
  font-size: 0.8rem;
  text-align: center;
}

.loading-modal-wrapper {
  /* background: #292940; */
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  row-gap: 15px;
  /* height: 280px; */
  width: 300px;
  /* margin: 200px auto; */
  border-radius: 25px;
  /* color: var(--primary-font-color); */
  color: gray;
}
.loading-modal-content-wrapper {
  position: relative;
  /* height: 150px;
    width: 150px;
    margin: 30px auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transform: translateY(60px); */
  text-align: center;
  row-gap: 15px;
}
.loading-modal-content-wrapper img {
  width: 7rem;
  animation: logorotate 4s infinite;
}
@keyframes logorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* **************************************************************************************************************************** */

/* LoaderContent.tsx */

.loader-content-data {
  display: flex;
  gap: 10px;
  color: var(--primary-font-color);
  font-size: var(--large-font-size);
  justify-content: center;
  align-items: center;
}

.loader-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
